*{
/*    outline: 1px solid black;  */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}
    
html{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
    font-size: 16px;
}

nav {
    width: 100%;
    height: 40px;
    padding: 0.2rem;
    position: fixed;
    background-color: rgba(0 ,0 ,0 ,0.1);
    z-index: 10;
    border-bottom: 1px solid black;
    animation: slideIn .5s ease-in-out;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.smooth-scroll {
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.smooth-scroll section {
    scroll-snap-align: start;
}

.navbarM {
    position: relative;
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: space-around;
}

.navbarM p {
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

.navText {
    position: relative;
    right: 2rem;
}

.selectionBtn {
    display: flex;
    position: relative;
    left: 2rem;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.dropdown-selection {
    position: relative;
    top: 3px;
    right: 3px;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 30;
}

.dropdown-selection.open {
    height: 145px;

}

.activeDetector {
    display: none;
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0px;
    z-index: 20;
}

.activeDetector.active {
    display: block;
}

.dropdown-selection ul {
    background-color: rgba(0, 0, 0, 0.1);
    height: 175px;
}

.dropdown-selection li {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
}

.mContacts-Dropdown {
    height: 0px;
    overflow: hidden;
    right: 3px;
}

.mContacts {
    width: 100%;
    position: relative;
    z-index: 30;
    bottom: 39px;
    padding-block: 10px;
    right: 3px;
    display: none;
    cursor: pointer;
}

.mContactsAlign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mContacts.open {
    display: block;
}

.mAlign {
    display: flex;
    position: relative;
    z-index: 40;
    top: 3px;
    right: 3px;
    width: 100%;
    justify-content: center;
    background-color: transparent;
}

.mContacts-Dropdown {
    position: relative;
    bottom: 40px;
    height: 0px;
    width: 50%;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mContacts-Dropdown.open {
    height: 25px;
}

.mGradient {
    height: 1px;
    width: 100%;
    background-image: linear-gradient(90deg, rgb(255, 0, 0),rgb(0, 255, 0), rgb(0, 0, 255), rgb(255, 0, 0));
    animation: move-lineM 10s linear infinite;
}

.mContactsBG {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.mContacts-Dropdown ul {
    padding-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mContacts-Dropdown li {
    padding-inline: 3.5vw;
}

@keyframes move-cLineM {
    
}

.gradientLine-navbarM :nth-child(1) {
    position: absolute;
    height: 1px;
    width: 100vw;
    background-image: linear-gradient(90deg, rgb(255, 0, 0),rgb(0, 255, 0), rgb(0, 0, 255), rgb(255, 0, 0));
    animation: move-lineM 15s linear infinite;
}



@keyframes move-lineM {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -470px; /* 470px for Right direction */
    }
}

.mContactsBG {
    position: relative;
    right: 3px;
    bottom: 61px;
    height: 0px;
    background-color: transparent;
}

.mContactsBG.active {
    height: 22px;
    transition-delay: .5s;
    background-color: rgba(0, 0, 0, 0.1);
}