*{
/*    outline: 1px solid black;  */
    margin: 0;
    padding: 0;
    font-family:'Poppins', 'Roboto', sans-serif;
    user-select: none;
    transition: 1s ease-out;
}

:root {
    --bg-color: #fefffe;
    --bg-color-odd: #e5fcf5;
    --text-color: #000;
    --navBg-color: rgba(0, 0, 0, 0.1);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --dropShadowNav-color: #000;
    --brightness: brightness(6);
    --dropShadowText-color: #fff;
    --navWeight: bold;
    --socialsHover-color: #fff;
    --socialsHoverBorder-color: #fff;
    --socialHoverBG: #fff;
    --AylexBG: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}

html[data-theme='light'] {
    --bg-color: #fefffe;
    --bg-color-odd: #f7f9f9;
    --text-color: #000;
    --navBg-color: rgba(0, 0, 0, 0.01);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --dropShadowNav-color: #000;
    --brightness: brightness(7);
    --dropShadowText-color: #fff;
    --navWeight: bold;
    --socialsHover-color: #fff;
    --socialsHoverBorder-color: #fff;
    --socialsHoverBG-color: #000;
    --AylexBG: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%)
}

html[data-theme='dark'] {
    --bg-color: #162238;
    --bg-color-odd: #192841;
    --text-color: #fff;
    --navBg-color: rgba(255, 255, 255, 0.1);
    --shadow-color: rgba(255, 255, 255, 0.2);
    --dropShadowNav-color: #fff;
    --brightness: brightness(3);
    --dropShadowText-color: transparent;
    --navWeight: none;
    --socialsHover-color: #00ff88;
    --socialsHoverBorder-color: #00ff88;
    --socialsHoverBG-color: #000;
    --AylexBG: linear-gradient(315deg, #4b6cb7 0%, #182848 74%);
}
    
html{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
    font-size: 16px;
}

nav {
    width: 100%;
    height: 45px;
/*    padding-block: 0.2rem; */
    padding-inline: 0.2rem;
    position: fixed;
    z-index: 10;
    box-shadow: 0 0 10px var(--shadow-color);
    animation: slideIn .5s ease-in-out;
    transition: none;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.smooth-scroll {
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.smooth-scroll section {
    scroll-snap-align: start;
}

.navbarM {
    position: relative;
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(4px);
}

.navbarM p {
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

.navText {
    color: var(--text-color);
    position: relative;
    right: 2rem;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 1px var(--dropShadowNav-color));
    z-index: 40;
}

.navText p {
    font-family: 'Robot', sans-serif;
}

.selectionBtn {
    display: flex;
    position: relative;
    left: 2rem;
    color: var(--text-color);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.dropdown-selection {
    position: relative;
    top: 0px;
    right: 3px;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 30;
}

.dropdown-selection.open {
    height: 145px;
    backdrop-filter: blur(4px);
}

.activeDetector {
    display: none;
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0px;
    z-index: 20;
}

.activeDetector.active {
    display: block;
}

.dropdown-selection ul {
    background-color: var(--navBg-color);
    height: 175px;
    font-weight: var(--navWeight);
    filter: drop-shadow(0 0 1px var(--dropShadowText-color));
}

.dropdown-selection li {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
}

.dropdown-selection a {
    font-family: 'Robot', sans-serif;
}

.mContacts-Dropdown {
    height: 0px;
    overflow: hidden;
    right: 3px;
}

.mContacts {
    transform: translateY(-30px);
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 30;
    bottom: 39px;
    padding-block: 10px;
    right: 3px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 1px var(--dropShadowText-color));
}

.mContacts a {
    width: 100%;
}

.mContacts.open {
    transform: translateY(0px);
}

.mContactsAlign {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--navWeight);
    height: 0px;
    overflow: hidden;
    transition: height 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mContactsAlign.open {
    height: 19px;
    transition-delay: 0.15s;
}

.mAlign {
    display: flex;
    position: relative;
    z-index: 40;
    top: 3px;
    right: 3px;
    width: 100%;
    justify-content: center;
    background-color: transparent;
}

.mContacts-Dropdown {
    position: relative;
    bottom: 43px;
    height: 0px;
    width: 50%;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mContacts-Dropdown.open {
    height: 25px;
}

.mGradient {
    height: 1px;
    width: 100%;
    background-image: linear-gradient(90deg, rgb(255, 0, 0),rgb(0, 255, 0), rgb(0, 0, 255), rgb(255, 0, 0));
    animation: move-lineM 20s linear infinite;
}

.mContacts-Dropdown ul {
    padding-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mContacts-Dropdown li {
    padding-inline: 3.5vw;
}

@keyframes move-cLineM {
    
}

.gradientLine-navbarM :nth-child(1) {
    position: absolute;
    height: 1px;
    width: 100vw;
    background-image: linear-gradient(90deg, rgb(255, 0, 0),rgb(0, 255, 0), rgb(0, 0, 255), rgb(255, 0, 0));
    animation: move-lineM 30s linear infinite;
}

.mGradient li{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1px;
}

.mGradient ul {
    gap: 0.5rem;
}

#google, #discord, #twitter, #github {
    color: var(--text-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid var(--text-color);
    width: 10vw;
    height: 20px; 
}

#google:hover, #discord:hover, #twitter:hover, #github:hover {
    color: var(--socialsHover-color);
    filter: drop-shadow(0px 0px 5px rgb(146, 255, 255));
    background-color: var(--socialsHoverBG-color);
    border-color: var(--socialsHoverBorder-color);
}

.mGradient a:hover {
    background-color: black;
}

@media only screen and (max-width: 176px) {
    .mGradient ul {
        gap: 0rem;
    }
}

@keyframes move-lineM {
    0% {
        background-position-x: 0px;
    }
    50% {
        background-position-x: -470px; /* 470px for Right direction */
    }
    100% {
        background-position-x: 0px;
    }
}

.mContactsBG {
    width: 100%;
    height: 100%;
    position: relative;
    right: 3px;
    bottom: 64px;
    height: 0px;
    background-color: transparent;
}

.mContactsBG.active {
    height: 26px;
    transition: .2s ease;
    transition-delay: .5s;
    background-color: var(--navBg-color);
    backdrop-filter: blur(4px);
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
}

.home-box {
    position: relative;
    bottom: 25px;
    width: 80%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.picture-box {
    height: 200px;
    width: 200px;
    background-image: var(--AylexBG);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 20% / 10% 40%;
}

.AylexPhoto {
    height: 150px;
    width: 150px;
    background-image: url("./img/AylexIMG.jpg");
    background-size: contain;
    border: 1px solid var(--bg-color);
    border-radius: 50%;
}

.homeText {
    color: var(--text-color);
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.homeText p {
     text-align: center;
     font-size: 13px;
     padding-block: 1.5rem;
}

.homeText a {
    padding: 5px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--text-color);
    color: var(--bg-color-odd);
}

.homeText a:active {
   font-size: 17px;
   transition: none;
}

.homeText a:hover {
    color: var(---text-colo);
    background-color: var(--AylexBG);
}

#aboutMe {
    width: 100%;
    background-color: var(--bg-color-odd);
    height: 100vh;
}

#projects {
    width: 100%;
    background-color: var(--bg-color);
    height: 100vh;
}

#contacts {
    width: 100%;
    background-color: var(--bg-color-odd);
    height: 100vh;
}