*{
/*    outline: 1px solid black;  */
    margin: 0;
    padding: 0;
    font-family:'Poppins', 'Roboto', sans-serif;
    user-select: none;
    transition: 1s;
}

:root {
    --bg-color-odd: #fefffe;
    --bg-color: #e5fcf5;
    --text-color: #000;
    --Aylex-text-color: #00757aff;
    --navBg-color: rgba(0, 0, 0, 0.1);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --dropShadowNav-color: transparent;
    --brightness: brightness(6);
    --dropShadowText-color: #fff;
    --navWeight: bold;
    --socialsHover-color: #fff;
    --socialsHoverBorder-color: #fff;
    --socialHoverBG: #fff;
    --AylexBG: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    --textIn-image-color: #fefffe;
    --imageButton-Gradient: linear-gradient(135.8deg, rgb(26, 26, 29) 27.1%, rgb(111, 34, 50) 77.5%);
    --submitBtn-color: linear-gradient(315deg, #4969ff 0%, #099999 74%);
    --submitFormBg-color: #131e3150;
    --socialsBG-color: #061228;
    --socials-color: #0088ff;
}

html[data-theme='light'] {
    --bg-color-odd: #fefffe;
    --bg-color: #f8f8f3;
    --text-color: #000;
    --Aylex-text-color: #00757aff;  /* #007a59ff */
    --navBg-color: rgba(0, 0, 0, 0.01);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --dropShadowNav-color: transparent;
    --brightness: brightness(7);
    --dropShadowText-color: #fff;
    --navWeight: bold;
    --socialsHover-color: #fff;
    --socialsHoverBorder-color: #fff;
    --socialsHoverBG-color: #000;
    --AylexBG: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    --textIn-image-color: #fefffe;
    --imageButton-Gradient: linear-gradient(135.8deg, rgb(26, 26, 29) 27.1%, rgb(111, 34, 50) 77.5%);
    --submitBtn-color: linear-gradient(315deg, #4969ff 0%, #099999 74%);
    --submitFormBg-color: #131e3150;
    --socialsBG-color: #061228;
    --socials-color: #0077ff;
}

html[data-theme='dark'] {
    --bg-color-odd: #162238;
    --bg-color: #192841;
    --text-color: #fff;
    --Aylex-text-color: #abe9cd;
    --navBg-color: rgba(255, 255, 255, 0.1);
    --shadow-color: rgba(255, 255, 255, 0.2);
    --dropShadowNav-color: #fff;
    --brightness: brightness(3);
    --dropShadowText-color: transparent;
    --navWeight: none;
    --socialsHover-color: #00ff88;
    --socialsHoverBorder-color: #00ff88;
    --socialsHoverBG-color: #000;
    --AylexBG: linear-gradient(315deg, #4b6cb7 0%, #182848 74%);
    --textIn-image-color: #fefffe;
    --imageButton-Gradient: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
    --submitBtn-color: linear-gradient(315deg, #4b6cb7 0%, #00757aff 74%);
    --submitFormBg-color: #ffffff10;
    --socials-color: #00ff88;
}
    
html{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
}

nav {
    width: 100%;
    height: 45px;
/*    padding-block: 0.2rem; */
    padding-inline: 0.2rem;
    position: fixed;
    z-index: 10;
    box-shadow: 0 0 10px var(--shadow-color);
    animation: slideIn 1s ease-in-out;
    transition: none;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.smooth-scroll {
    overflow-y: scroll; 
    overflow-x: hidden;
    height: 100vh;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

.smooth-scroll section {
    scroll-snap-align: center;
}

.whiteSpace {
    width: 100%;
    height: 1px;
    background-color: var(--bg-color);
}

.navbarM {
    position: relative;
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(4px);
}

.navbarM p {
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

.navText {
    color: var(--text-color);
    position: relative;
    right: 2rem;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 1px var(--dropShadowNav-color));
    z-index: 40;
}

.navText p {
    font-family: 'Robot', sans-serif;
}

.selectionBtn {
    display: flex;
    position: relative;
    left: 2rem;
    color: var(--text-color);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.dropdown-selection {
    position: relative;
    top: 0px;
    right: 3px;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 30;
}

.dropdown-selection.open {
    height: 145px;
    backdrop-filter: blur(4px);
}

.activeDetector {
    display: none;
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0px;
    z-index: 20;
}

.activeDetector.active {
    display: block;
}

.dropdown-selection ul {
    background-color: var(--navBg-color);
    height: 175px;
    font-weight: var(--navWeight);
    filter: drop-shadow(0 0 1px var(--dropShadowText-color));
}

.dropdown-selection li {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
}

.dropdown-selection a {
    font-family: 'Robot', sans-serif;
}

.mContacts-Dropdown {
    height: 0px;
    overflow: hidden;
    right: 3px;
}

.mContacts {
    transform: translateY(-30px);
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 30;
    bottom: 39px;
    padding-block: 10px;
    right: 3px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 1px var(--dropShadowText-color));
}

.mContacts a {
    width: 100%;
}

.mContacts.open {
    transform: translateY(0px);
}

.mContactsAlign {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--navWeight);
    height: 0px;
    overflow: hidden;
    transition: height 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mContactsAlign.open {
    height: 19px;
    transition-delay: 0.15s;
}

.mAlign {
    display: flex;
    position: relative;
    z-index: 40;
    top: 3px;
    right: 3px;
    width: 100%;
    justify-content: center;
    background-color: transparent;
}

.mContacts-Dropdown {
    position: relative;
    bottom: 43px;
    height: 0px;
    width: 50%;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mContacts-Dropdown.open {
    height: 25px;
}

.mGradient {
    height: 1px;
    width: 100%;
    background-image: linear-gradient(90deg, rgb(255, 0, 0),rgb(0, 255, 0), rgb(0, 0, 255), rgb(255, 0, 0));
    animation: move-lineM 20s linear infinite;
}

.mContacts-Dropdown ul {
    padding-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mContacts-Dropdown li {
    padding-inline: 3.5vw;
}

@keyframes move-cLineM {
    
}

.gradientLine-navbarM :nth-child(1) {
    position: absolute;
    height: 1px;
    width: 100vw;
    background-image: linear-gradient(90deg, rgb(255, 0, 0),rgb(0, 255, 0), rgb(0, 0, 255), rgb(255, 0, 0));
    animation: move-lineM 30s linear infinite;
}

.mGradient li{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1px;
}

.mGradient ul {
    gap: 0.5rem;
}

.navForPC {
    display: none;
}

#google, #discord, #twitter, #github {
    color: var(--text-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid var(--text-color);
    width: 10vw;
    height: 20px; 
}

#google:hover, #discord:hover, #twitter:hover, #github:hover {
    color: var(--socialsHover-color);
    filter: drop-shadow(0px 0px 5px rgb(146, 255, 255));
    background-color: var(--socialsHoverBG-color);
    border-color: var(--socialsHoverBorder-color);
}

.mGradient a:hover {
    background-color: black;
}

@media only screen and (max-width: 176px) {
    .mGradient ul {
        gap: 0rem;
    }
}

@keyframes move-lineM {
    0% {
        background-position-x: 0px;
    }
    50% {
        background-position-x: -470px; /* 470px for Right direction */
    }
    100% {
        background-position-x: 0px;
    }
}

.mContactsBG {
    width: 100%;
    height: 100%;
    position: relative;
    right: 3px;
    bottom: 64px;
    height: 0px;
    background-color: transparent;
}

.mContactsBG.active {
    height: 26px;
    transition: .2s ease;
    transition-delay: .5s;
    background-color: var(--navBg-color);
    backdrop-filter: blur(4px);
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100.1vh;
    background-color: var(--bg-color);
    overflow: hidden;
}

.home-box {
    position: relative;
    bottom: 3%;
    width: 80%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.picture-box {
    height: 200px;
    width: 200px;
    background-image: var(--AylexBG);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 20% / 10% 40%;
}

.picture-box i {
    position: absolute;
    font-size: 20px;
    color: var(--text-color);
}

.AylexPhoto {
    height: 150px;
    width: 150px;
    background-image: url("./img/AylexIMG.jpg");
    background-size: contain;
    border: 1px solid var(--bg-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.homeText {
    color: var(--text-color);
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.homeText h2{
    color: var(--Aylex-text-color);
}

.homeText p {
    text-align: center;
    font-size: 13px;
    padding-block: 1.5rem;
}

.homeText a {
    padding: 5px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--text-color);
    color: var(--bg-color-odd);
}

.homeText a:active {
   font-size: 17px;
   transition: none;
}

.homeText a:hover {
    color: var(---text-colo);
    background-color: var(--AylexBG);
}

#aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100.1vh;
    width: 100%;
    overflow: hidden;
    background-color: var(--bg-color-odd);
}

#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background-color: var(--bg-color);
    height: 30vh;
}

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    background-color: var(--bg-color-odd);
    height: 100.1vh;
}

#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--bg-color);
    height: 100.1vh;
}

.aboutMe-box {
    position: relative;
    bottom: 5%;
    width: 80%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMe-text h2 {
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
    padding: 0.5rem;
}

.aboutMe-text p {
    font-size: 12px;
    color: var(--text-color);
    text-align: justify;
    padding-bottom: 1rem;
}

.aboutMe-text {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--text-color);
}

.cursor {
    display: inline-block;
    background-color: var(--text-color);
    margin-left: 0.1rem;
    width: 2px;
    height: 9px;
    animation: blink 1s infinite;
}

.cursor.isTyping {
    animation: none;
}

@keyframes blink {
    0%  { background-color: var(--text-color); }
    49% { background-color: var(--text-color); }
    50% { background-color: transparent; }
    100% { background-color: transparent; }
}

.aboutMe-box a {
    top: 4rem;
    position: relative;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 5px;
    background-image: var(--AylexBG);
}

.aboutMe-box a:hover{
   background-image: var(--Aylex-text-color);
   font-size: 17px;
   transition: none;
}

.aboutMe-box .picture-box {
    position: relative;
    top: 2.5rem;
    width: 225px;
    visibility: hidden;
}

.picture-box i {
    position: absolute;
    font-size: 20px;
    color: var(--text-color);
    visibility: visible;
}

.aboutMe-box .AylexPhoto {
    height: 200px;
    width: 200px;
    background-image: url("./img/AylexIMG.jpg");
    background-size: contain;
    border: 1px solid var(--bg-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    visibility: visible;
}

.gridLinks {
    display: none;
}

.skills-box {
    width: 80%;
    height: 25vh;
    display: flex;
    flex-direction: column;
}

.skills-box h2 {
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
    padding-bottom: 0.7rem;
}

.skills-list {
    color: var(--text-color);
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.whatIKnow, .IKnowABit {
    text-align: center;
}

.whatIKnow h4, .IKnowABit h4 {
    border-bottom: 1px solid var(--text-color);
}

.skills-boxAAlign {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-box a {
    position: relative;
    top: 10px;
    padding: 5px;
    border: 1px solid var(--text-color);
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
}

.skills-box a:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    border: 1px solid var(--text-color);
    font-size: 17px;
    transition: none;
}

.project-box {
    position: relative;
    bottom: 2%;
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-box h2 {
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
    padding-bottom: 0.7rem;
}

.project-carousel {
    width: 100%;
    height: 92%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.project-width {
    width: 200%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.project1, .project2 {
    scroll-snap-align: center;
}

.project1 {
    width: 90%;
    height: 99%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    background-image: url("./img/Programming-lab_blur.jpg");
    overflow: hidden;
    border: 1px solid var(--text-color);
    background-size: cover;
    background-position: center;
}

.project1-content {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
}

.progamminglabThumbnail {
    display: none;
}

.project1-content h3, .project1-content p, .project1-content h4{
    color: var(--textIn-image-color);
    padding-inline: 15px;
}

.project1-content h3 {
    padding: 15px;
    text-align: center;
}

.project1-content p {
    font-size: 12px;
    text-align: center;
}

.project1-content h4 {
    padding-top: 5vh;
    position: relative;
    left: 1vw;
}
 
.project-aCenter {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-aCenter a {
    color: var(--textIn-image-color);
    opacity: 0.8;
    padding-inline: 15px;
    border: 1px solid var(--textIn-image-color);
    background-image: var(--imageButton-Gradient);
    border-radius: 10px;
    text-transform: uppercase;
}

.project-aCenter a:hover {
    background-image: var(--text-color);
    font-size: 11px;
    transition: none;
}

.project-aCenter a:active {
    transform: translateY(2px);
}

.project1-logo {
    padding-inline: 10px;
}

.project1-logo i{
    position: relative;
    bottom: 3px;
    font-size: 13px;
    padding: 6px;
    color: var(--textIn-image-color);
    opacity: 0.8;
    left: 1vw;
}

.project1-logo i:hover {
    color: var(--socials-color);
    transform: rotate(20deg);
    transition: 0.2s linear;
}

.project2 {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    opacity: 0.5;
}

.project2-content {
    width: 95%;
    height: 99%;
    border-radius: 10px;
    border: 1px solid var(--text-color);
}

.contact-box {
    position: relative;
    bottom: 2%;
    width: 80%;
    height: 70vh;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contacts h2 {
    position: relative;
    bottom: 4vh;
    color: var(--text-color);
}

.contactHolder, .messageHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
}

.contact-box .username, .gmail, .feedback-text {
    width: 95%;
    background-color: var(--submitFormBg-color);
    border: none;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    color: var(--text-color);
    font-weight: bold;
}

.messageHolder {
    position: relative;
    top: 1vh;
}

.feedback-text {
    height: 40vh;
    font-weight: 300;
}

.messageHolder p {
    position: relative;
    bottom: 1.2vh;
    height: 3vh;
    font-size: 13px;
    min-height: 16px;
}

.submitBtn {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width:140px;
    border-radius: 10px;
    color: var(--textIn-image-color);
    border: 1px solid var(--text-color);
    background-image: var(--submitBtn-color);
    padding-block: 2vh;
}

.submitBtn:active {
    top: 2px;
}

.socials {
    width: 100%;
    height: 10vh;
    background-color: var(--socialsBG-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60px;
}

.socials h4 {
    color: var(--socials-color);
}

.socials-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials-logo {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.skillsLogo {
    display: none;
}

#google-s, #discord-s, #twitter-s, #github-s, #facebook-s {
    color: var(--socials-color);
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 10vw;
    height: 20px; 
    background-color: transparent;
    border: none;
}

#google-s:hover, #discord-s:hover, #twitter-s:hover, #github-s:hover, #facebook-s:hover {
    color: var(--textIn-image-color);
    filter: drop-shadow(0px 0px 5px rgb(146, 255, 255));
}

.socials-box p {
    padding-top: 1vh;
    color: var(--socials-color);
    font-size: 8px;
}

.scroll-up {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-color);
    position: fixed;
    bottom: 5vh;
    right: -8vw;
    background-color: var(--text-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
}

.scroll-up.scrollable {
    position: fixed;
    right: 5vw;
}

.AQuotes {
    overflow: hidden;
    width: 100%;
    height: 88px;
}

.AQuotes p {
    animation: switchQuotes 100s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

@keyframes switchQuotes {
    1% {
        transform: translateY(0%);
    }
    10% {
        transform: translateY(0%);
    }
    11% {
        transform: translateY(-100%);
    }
    20% {
        transform: translateY(-100%);
    }
    21% {
        transform: translateY(-200%);
    }
    30% {
        transform: translateY(-200%);
    }
    31% {
        transform: translateY(-300%);
    }
    40% {
        transform: translateY(-300%);
    }
    41% {
        transform: translateY(-400%);
    }
    50% {
        transform: translateY(-400%);
    }
    51% {
        transform: translateY(-500%);
    }
    60% {
        transform: translateY(-500%);
    }
    61% {
        transform: translateY(-600%);
    }
    70% {
        transform: translateY(-600%);
    }
    71% {
        transform: translateY(-700%);
    }
    80% {
        transform: translateY(-700%);
    }
    81% {
        transform: translateY(-800%);
    }
    90% {
        transform: translateY(-800%);
    }
    91% {
        transform: translateY(-900%);
    }
    100% {
        transform: translateY(-900%);
    }
}

.animate .picture-box, .animate .mySkillsAlign, .animate .contactH2 {
    opacity: 0;
    filter: blur(2px);
    transition: 1s;
}

.animated .picture-box, .animated .mySkillsAlign, .animated .contactH2 {
    opacity: 1;
    filter: blur(0px);
    animation: animateFromTop 1s ease;
}

@keyframes animateFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.animate .homeText, .animate .outGridContact, .animate .skills-list, .animate .skills-boxAAlign {
    opacity: 0;
    transition: 1s;
}

.animated .homeText, .animated .outGridContact, .animated .skills-list, .animated .skills-boxAAlign {
    opacity: 1;
    animation: animateFromBottom 1s ease;
}

@keyframes animateFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.animate .aboutMe-text, .animate #AylexPhoto-about, .animate .project-box {
    opacity: 0;
    transition: 1s;
}

.animated .aboutMe-text, .animated #AylexPhoto-about, .animated .project-box {
    opacity: 1;
    animation: animateFromRight 1s ease;
}

@keyframes animateFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
    
}

.toggle-tip {
    position: fixed;
    bottom: -100px;
    color: var(--socials-color);
    text-align: center;
    font-size: 13px;
    z-index: 50;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    animation: toggleDarkLightTip 15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-delay: 30s;
}

.toggle-tip p {
    padding: 5px;
    background-color: var(--text-color);
    border: 1px solid var(--socials-color);
    border-radius: 10px;
}

.autoFocusBtn {
    display: none;
}

.discord-showUsername {
    color: var(--textIn-image-color);
    position: relative;
    background-color: var(--socialsBG-color);
    width: 100%;
    padding-block: 3px;
    text-align: center;
    text-decoration: underline;
    bottom: 6px;
    left: 100%;
}

.discord-showUsername.active {
    animation: showDiscordAnim 10s ease;
}

@keyframes showDiscordAnim {
   0% {
       transform: translateX(0%);
   }
   10% {
       transform: translateX(-100%);
   }
   75% {
       transform: translateX(-100%);
   }
   100% {
       transform: translateX(0%);
   }
}

.google-usernamesss {
    background-color: transparent;
    border: none;
}

.discord-usernamesss {
    background-color: transparent;
    border: none;
}

@keyframes toggleDarkLightTip {
    0% {
        bottom: -100px;
    }
    15% {
        bottom: 20px;
    }
    75% {
        bottom: 20px;
    }
    100% {
        bottom: -50px;
    }
}

.recommendDialogue {
    position: fixed;
    bottom: -100px;
    color: var(--bg-color);
    background-color: var(--text-color);
    border-radius: 10px;
    border: 1px solid var(--socials-color);
    text-align: center;
    font-size: 13px;
    z-index: 50;
    min-width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogueBox {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
}

.leaveMessage {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 100%;
    font-size: 9px;
}

.reportIssue {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 8px;
    border-left: 1px solid var(--bg-color);
}

.leaveMessage i {
    font-size: 20px;
    padding-right: 8px;
}

.reportIssue i {
    font-size: 20px;
    padding-right: 8px;
}

.recommendDialogue.feedback {
    animation: feedBack-up 15s ease-out;
    animation-delay: 5s;
}

@keyframes feedBack-up {
    0% {
        bottom: -100px;
    }
    15% {
        bottom: 20px;
    }
    75% {
        bottom: 20px;
    }
    100% {
        bottom: -100px;
    }
}

/* for Tablets (Portrait/Landscape */
@media only screen and (min-width: 768px) {
    .recommendDialogue {
        min-width: unset;
    }

    .toggle-tip {
        width: unset;
    }
}

/* for PC */
@media only screen and (min-width: 992px) {
    .project-width {
        position: relative;
        width: 100%;
        column-gap: 3vh;
        row-gap: 3vh;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 25% 25%;
/* Add grid lines for projects
        grid-template-rows: 45% 45%;
    */
    }

    .smooth-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    }

    .smooth-scroll section {
        scroll-snap-align: end;
    }


    nav {
        height: 35px;
    }

    .navAlignForPC {
        display: flex;
        justify-content: space-around;
        height: 35px;
        backdrop-filter: blur(5px);
    }

    .navText {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        right: unset;
        top: unset;
        width: fit-content;
    }

    .navText:hover {
        color: var(--socials-color);
    }

    .navbarM {
        display: block;
        width: fit-content;
        backdrop-filter: none;
    }

    .selectionBtn {
        display: none;
    }

    .dropdown-selection {
        display: block;
        overflow: visible;
        color: var(---text-color);
        width: unset;

    }

    .dropdown-selection ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: 35px;
        background-color: transparent;
        gap: 20px;
    }

    .dropdown-selection a:hover {
        color: var(--socials-color);
        transition: 0.5s;
    }

    .navForPC {
        display: block;
    }

    .mContactsAlign {
        display: none;
    }

    .gradientLine-navbarM {
        display: none;
    }

    .mContacts {
        display: none;
    }

    .home-box {
        display: grid;
        grid-auto-flow: column;
        position: relative;
        top: 20px;
        gap: 10px;
    }

    .picture-box {
        order: 2;
        height: 300px;
        width: 250px;
    }
    
    .home-box .picture-box {
        padding-inline: 5vw;
        position: relative;
        right: 20px
    }

    .homeText {
        padding-inline: 4vw;
        position: relative;
        right: 50px;
    }
    
    .home-box .picture-box .AylexPhoto{
        height: 225px;
        width: 225px;
    }

    .homeText h2, .homeText h3, .homeText p {
        width: 100%;
        text-align: left;
    }

    .homeText a {
        position: relative;
        right: 26%;
    }

    .aboutMe-box {
        position: relative;
        top: 0px;
        display: grid;
        grid-template-columns: 50% 50%;
        width: 68vw;
    }

    .aboutMe-box .aboutMe-text {
        order: 1;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        text-align: left;
    }

    .aboutMe-text p {
        text-align: left;
        padding-block: 5px;
    }

    .aboutMe-text h2 {
        text-align: left;
        padding: unset;
    }

    #AylexPhoto-about {
        height: 300px;
        width: 300px;
        position: absolute;
        bottom: 7%;
        left: 15%;
    }
    
    .outGridContact {
        display: none;
    }

    .gridLinks {
        position: relative;
        bottom: 10vh;
        display: block;
        width: 300px;
    }

    .gridLinks a:hover {
        color: var(--bg-color);
        background-color: var(--text-color);
        border: 1px solid var(--socials-color);
    }

    .gridLinks a:nth-child(2) {
        background-image: none;
    }

    .skills-box {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 2;
        height: 75%;
    }

    .skills-boxAAlign {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75%;
    }

    .mySkillsAlign {
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .skills-list h4 {
        border-bottom: none;
    }

    .alignHtext {
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        border-bottom: 1px solid var(--text-color);
        width: 75%;
    }
    
    .skillsLogo {
        display: block;
    }

    .skillsLogo i {
        font-size: 25px;
        padding-inline: 0.5vh;
    }

    .skillsLogo i:hover:nth-child(1) {
        color: crimson;
    }

    .skillsLogo i:hover:nth-child(2) {
        color: mediumblue;
    }

    .skillsLogo i:hover:nth-child(3) {
        color: gold;
    }

    .skillsLogo i:hover:nth-child(4) {
        color: firebrick;
    }

    .skills-box a {
        width: 50%;
    }

    .skills-box h2 {
        width: 100%;
    }

    .whatIKnow {
        border-right: 1px solid var(--text-color);
        border-left: 1px solid var(--text-color);
        width: 100%;
    }

    .alignPtext {
        padding-top: 1.5vh;
    }

    .IKnowABit {
        border-right: 1px solid var(--text-color);
        border-left: 1px solid var(--text-color);
        width: 98%;
    }

    .project1-content h3, .project1-content p, .project1-content h4{
        color: var(--textIn-image-color);
        padding-inline: 1vh;
    }
    
    .project1 {
      background-image: none;
    }
    
    .project1 {
      background-image: url("./img/Programming-lab.jpg");
    }
    
    .project1-content h3 {
        font-size: 14px;
        padding: 1vh;
        text-align: center;
    }
    
    .project1-content p {
        font-size: 10px;
        text-align: center;
    }
    
    .project1-content h4 {
        padding-top: 1vh;
        position: relative;
        left: 3vw;
        font-size: 12px;
    }    

    .project-aCenter a {
        position: relative;
        padding-inline: 1vh;
        width: 90%;
        font-size: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 1vh;
        position: relative;
        top: 18vh;
    }

    .project-aCenter {
        position: relative;
        height: 70%;
        min-height: 90%;
        bottom: 30vh;
        display: flex;
    }

    .project-box {
        top: 2vh;
    }

    .contact-box {
        background-color: var(--submitFormBg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60vw;
        border-radius: 10px;
        min-height: 300px;
    }

    .contactHolder, .messageHolder {
        width: 60vw;
    }

    .aboutMe-box a:hover{
        background-image: var(--Aylex-text-color);
        font-size: 16px;
        transition: none;
     }

    .aboutMe-box a:active{
        transform: translateY(2px);
     }

    .skills-box a:hover {
        font-size: 16px;
    }

    .skills-box a:active {
        transform: translateY(2px);
    }

    #contacts h2 {
        top: 1vh;
    }

    .contact-box {
        top: 2vh;
    }

    .leaveMessage {
        font-size: 12px;
    }

    .reportIssue {
        font-size: 12px;
    }
    
    .toggle-tip {
        width: unset;
    }

    .dialogueBox {
        width: 37vw;
    }

    .leaveMessage {
        padding-left: 8px;
    }

    .progamminglabThumbnail {
        display: block;
        position: absolute;
        left: 25%;
        transform: translate(50%);
        color: var(--textIn-image-color);
        font-size: 13px;
        text-align: center;
    }

    .project1-content {
        position: relative;
        left: 300px;
        transition: 0.5s ease-out;
        backdrop-filter: blur(5px);
    }

    .project1-content.hover {
        position: relative;
        left: 0px;
    }

    .animate .skills-boxAAlign, .animate .picture-box {
        opacity: 0;
        filter: blur(5px);
        transition: 1s;
    }
    
    .animated .skills-boxAAlign, .animated .picture-box {
        opacity: 1;
        filter: blur(0px);
        animation: pcAnimateFromRight 1s ease;
    }

    @keyframes pcAnimateFromRight {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0%);
        }
    }

    .animate .mySkillsAlign, .animate .homeText {
        opacity: 0;
        filter: blur(5px);
        transition: 1s;
    }
    
    .animated .mySkillsAlign, .animated .homeText {
        opacity: 1;
        filter: blur(0px);
        animation: pcAnimateFromTop;
    }

    @keyframes pcAnimateFromTop {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0%);
        }
        
    }

    .animate .aboutMe-text {
        opacity: 0;
        filter: blur(5px);
        transition: 1s;
    }
    
    .animated .aboutMe-text {
        opacity: 1;
        filter: blur(0px);
        animation: pcAnimateFromBottom 1s ease;
    }

    @keyframes pcAnimateFromBottom {
        0% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0%);
        }
    }

    .leaveMessage {
        width: 96%;
    }

    #google-s, #discord-s, #twitter-s, #github-s, #facebook-s {
        border: none;
        width: 5vw;
    }

    #google-s:hover, #discord-s:hover, #twitter-s:hover, #github-s:hover, #facebook-s:hover {
        border: none;
        width: 5vw;
        background-color: transparent;
        transition: 0.25s;
    }

    .socials-logo {
        gap: 0vw;
    }
}
